.blog-section{


    .btn-container{
        justify-content: center;
    }
    .blog-container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        gap: 2em;

        .blob{
            position: absolute;
            left: -30vw;
            top: -15vw;
            z-index: -1;
        }

        .blog-card{
            max-width: 300px;
            cursor: pointer;
            box-shadow: 0px 0px 3px 0px rgba(163,162,162,0.75);
            -webkit-box-shadow: 0px 0px 3px 0px rgba(163,162,162,0.75);
            -moz-box-shadow: 0px 0px 3px 0px rgba(163,162,162,0.75);
            transition: 0.5s ease-in-out;

            &:hover{
                box-shadow: 8px 10px 19px -5px rgba(140,139,139,0.75);
                -webkit-box-shadow: 8px 10px 19px -5px rgba(140,139,139,0.75);
                -moz-box-shadow: 8px 10px 19px -5px rgba(140,139,139,0.75);
            }

            border-radius: 1.5em;

            .img-container{
                img{
                    width: 100%;
                }
            }
        }
    }
}

.blob{
    position: absolute;
    left: -30vw;
    top: -15vw;
    z-index: -1;
}