.contact-section{
    .contact-form{
        max-width: 500px;
        margin: 0 auto;

        .btn-container{
            justify-content: center;
        }

        .basic-info{
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .form-input{
            flex-direction: column;
            flex-grow: 1;

            textarea{
                resize: none;
                height: 8em;
            }

            .input-field{
                min-width: 200px;
                border-radius: 5px;
                border: 1px solid $clr-para;
            }
        }
    }
}

@media screen and (min-width: 554px) {
    .contact-section{
        .contact-form{ 
            .basic-info{
                column-gap: 1em;
            }
        }
    }
}