.navbar{
    justify-content: space-between;
    align-items: center;

    .logo-container{
        .logo{
            width: 70%;
            cursor: pointer;
        }
    }
    .hamburger{
        z-index: 5;
    }
    .bar{
        width: 2em;
        height: 0.2em;
        background-color: $clr-black;
        margin: 0.35em 0;
        transition: 0.4s;
        z-index: 3;
    }
    .change .bar-1 {
        transform: translate(0, 11px) rotate(-45deg);
    } 
    .change .bar-2 {opacity: 0;}
      
    .change .bar-3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .menu-overlay-container{
        overflow: hidden;
        position: fixed;
        top:-100vh;
        left: 0;
        transition: 0.65s ease-in;
        background-color: rgba($color: $clr-black, $alpha: 0.5);
        z-index: 2;
        
        .menu-overlay{
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            
            
            .nav-links-sm{
                flex-direction: column;
                gap: 1em;
                .nav-link{
                    z-index: 5;
                    color: $clr-white;
                    letter-spacing: .125rem;
                }
            }
        }
    }

    .nav-links{
        display: none;
        gap: 1.65em;

        .nav-link{
            opacity: 0.5;
        }

        .nav-link:hover{
            opacity: 0.85;
        }

        .active{
            opacity: 1;
            font-weight: bold;
        }
    }
}


@media screen and (min-width: 900px) {
    .navbar{
        .hamburger{
            display: none;
        }
        .nav-links{
            display: flex;
        }
        .nav-links-sm{
            display: none;
        }
        
    }
}