.services-section{
    
    .services-container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        justify-content: center;
        gap: 2em;
        .blob{
            position: absolute;
            left: -30vw;
            top: -15vw;
            z-index: -1;
        }
        .service-card{
            // max-width: 280px;
            box-shadow: 8px 10px 19px -5px rgba(140,139,139,0.75);
            -webkit-box-shadow: 8px 10px 19px -5px rgba(140,139,139,0.75);
            -moz-box-shadow: 8px 10px 19px -5px rgba(140,139,139,0.75);

            border-radius: 1.5em;

            .img-container{
                img{
                    width: auto;
                    height: 4em;
                }
            }
        }
    }
}



@media screen and (min-width: 1240px) {
    .services-section{
        .services-container{
            grid-template-columns: repeat(3, 280px);
        }
    }
}