.testimonial-section{
    .testimonial-card{
        // width: 85vw;
        background: $testimonial-gradient;
        border-radius: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        header{
            .title{
                color: $clr-white;
                margin-top: 0;
            }
            .underline{
                background-color: $clr-white;
            }
        }

        .testimonial-content{
            gap: 1em;

            .img-container{
                width: 5em;
            }
            .client-intro{
                align-items: center;
                justify-content: center;
                gap: 1em;
                width: 50%;
            }
            .client-testimonial{
                width: 50%;
                .client-para{
                    opacity: 0.9;
                }
            }
        }
    }

    .slider-controller-container{
        align-items: center;
        justify-content: center;
        gap: 3em;
        .img-container{
            width: 1.65em;
        }
        .dots-container{
            gap: .85em;
            .dot{
                height: 8px;
                width: 8px;
                background-color: $clr-primary;
                border-radius: 50%;
                opacity: 0.3;
            }
            .active{
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .testimonial-section{
        .testimonial-card{
            .testimonial-content{
                flex-direction: column;
                .client-intro,
                .client-testimonial{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .testimonial-section{
        .testimonial-card{
            max-width: 800px;
            margin: 0 auto;
        }
    }
}