body{
    font-family: 'Mulish', sans-serif;
}

.heading,
.sub-heading
.title
{
    // font-size: $base-font-size * 1.85;
    font-size: clamp(2rem, 2.85vw, 3rem);
    font-weight: 700;
    color: $clr-black;
    letter-spacing: 0.025rem;
}
.sub-heading{
    font-size: clamp(1.5rem, 1.85vw, 1.85rem);
    text-align: center;
}
.title{
    font-size: clamp(1.35rem, 1.65vw, 1.65rem);
    text-align: center;
}
.client-name{
    letter-spacing: 0.025rem;
    font-size: clamp(1.05rem, 1.15vw, 1.15rem);
    color: $clr-white;
    margin: 0;
}
.client-para{
    color: $clr-white !important;
    // text-align: left !important;
    opacity: 0.85;
    margin: 0;
}
.footer-title{
    font-size: clamp(1.05rem, 1.25vw, 1.25rem);
    color: $clr-white;
    margin-top: 0;
}
.footer-link,
.footer-para{
    font-size: clamp(0.85rem, 0.95vw, 0.95rem);
    color: $clr-white;
    text-align: left !important;
    line-height: 1.35rem;
    margin: 0;
}

.para,
.card-para{
    // font-size: $base-font-size * 0.9;
    font-size: clamp(0.85rem, 1.125vw, 1.125rem);
    color: $clr-para;
    font-weight: 400;
    line-height: 1.35rem;
}
.service-para{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card-para{
    font-size: clamp(0.75rem, 1.05vw, 1.05rem);
}


.input-label{
    font-weight: 400;
    line-height: 1.35rem;
    color: $clr-black;
    font-size: clamp(0.65rem, 0.95vw, 0.95rem);
}
.input-field{
    font-size: clamp(0.85rem, 1.05vw, 1.05rem);
}
.para-black{
    color: $clr-black;
    text-align: center;
}


@media screen and (max-width: 700px){
    .heading,
    .para{
        text-align: center;
    }

}