.container{
    max-width: 1400px;
    width: 85%;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.top30VH{
    top: 30vh  !important;
}

.btn,
.hero-btn{
    font-weight: bold;
    border: none;
    border-radius: 2em;
    color: $clr-white;
    background-color: $clr-primary;
    cursor: pointer;
    padding: 1em 2em;
}
.btn{
    background-color: $clr-white;
    color: $clr-primary;
    border: 1px solid $clr-primary;
}

.underline{
    height: 2px;
    width: min(10vw, 80px);
    border-radius: 5px;
    background-color: $clr-black;
    margin: 0 auto;
}

@include margin-classes;
@include padding-classes;


@media screen and (max-width: 500px) {
    .container{
        max-width: 85%;
    }
}

@media screen and (max-width: 700px) {
    .btn-container{
        justify-content: center;
        align-items: center;
    }
}