$clr-primary: #458FF6;
$clr-para: #7D7987;
$clr-white: #FFFFFF;
$clr-black: #000000;
$testimonial-gradient: 208.18deg, #67C3F3 9.05%, #5A98F2 76.74%;
$footer-gradient: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

$base-font-size: 1rem;